{% extends 'main/base.html' %}
{%block title %} Your Request {% endblock %}
{%block content%}
<style>
    .thirteen h1 {
        position: relative;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        margin: 15px 0px;

        white-space: nowrap;
        border: 2px solid #222;
        padding: 5px 11px 3px 11px;
    }

    .thirteen h1:before,
    .thirteen h1:after {
        background-color: #c50000;
        position: absolute;
        content: '';
        height: 7px;
        width: 7px;
        border-radius: 50%;
        bottom: 12px;
    }

    .thirteen h1:before {
        left: -20px;
    }

    .thirteen h1:after {
        right: -20px;
    }
</style>
<hr>
<div class="thirteen" style="display: flex; justify-content:center">
    <h1>ALL Change Requests of Staff </h1>
</div>
<hr>
<table class="table table-striped-columns border-primary">
    <tr>
        <th>No.</th>
        <th>ID </th>
        <th>Req_name </th>
        <th>Details </th>
        <th>Date of Request</th>
        <th>Status </th>
        {% if user.is_staff %}
        <th title="file that you need to change if you approve.!">File Name</th>
        <th>Decision | YES</th>
        <th>Decision | NO</th>
        {% endif %}
    </tr>
    {% for i in data %}
    <tr>
        {% with idx=forloop.counter %}
        <td>{{idx}}</td>
        <td>{{i.id}}</td>
        <td>{{i.reqtor_name}}</td>
        <td>{{i.previous_details}}</td>
        <td>{{i.req_date}}</td>
        {% if not i.status %}
        <td>Pending...</td>
        {% elif i.status == 2 %}
        <td style="background-color:Red; color:azure" >Rejected...</td>
        {% else %}
        <td style="background-color:Green ;color:azure">Approved...</td>
        {% endif %}
        {% if user.is_staff %}
        <td><a href="{% url 'file_res' file_name=i.file_name %}">{{ i.file_name }}</a></td>
        <td><a href="{% url 'admin_decision' decision=1 req_id=i.id %}"><button>Approve</button></a></td>
        <td><a href="{% url 'admin_decision' decision=2 req_id=i.id %}"><button>Reject</button></a></td>
        {% endif %}
        {% endwith %}
    </tr>
    {% endfor %}
</table>
{% endblock %}