{% extends 'main/base.html' %}
{% load static %}

{% block title %}Create{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'style/create.css' %}">

</head>
<h1>WElcome to create page</h1>
<div id="Forms">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">dates</label><input type="file" name="date_csv" id=""><br>
    <label for="">Names</label><input type="file" name="name_csv" id=""><br>
    <input type="text" placeholder="ExamName | Note " name="exam_name"> <br>
    <input type="submit" value="Create">
</form>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="prepared_file" id=""><br>
    <input type="text" placeholder="ExamName | Note " name="exam_name"> <br>
    <input type="submit" value="Upload Prepared File">
</form>

</div>
{% if err_flag %}
    <p>{{error}}</p>
{% else %}
    <p>{{Done}}</p>
{% endif %}

<h3>Previously created Allocations</h3>
<table class="table table-bordered border-primary">
    <tr>
        <th>No.</th>
        <th>Date</th>
        <th>Exam Name</th>
        <th>FileNames</th>
    </tr>
    {% for file in user_files %}
    <tr>
        {% with idx=forloop.counter %}
        <td>{{idx}}</td>
        <td>{{ file.Created_at }}</td> 
        <td>{{ file.exam_name }}</td>
        <td><a href="{% url 'file_res' file_name=file.file_name %}">{{ file.file_name }}</a></td>
        {% endwith %}
    </tr>
    {% endfor %}</table>
{% endblock %}

