{% extends 'main/base.html'%}
{% load static %}
{% block title %} allocated Blocks {% endblock %}

<!-- <script>
    const ob = document.querySelector('#change_btn')
    ob.addEventListener('click',()=>{
        alert("Are your Sure .. ? \n You want to Change .. ? \n 🔴Then you can't undo ..!");
        console.log()
    })

</script> -->

<style>

</style>
{% block content %}
<h1>Allocated Blocks</h1>
<table class="table table-striped-columns border-primary">
    <tr>
        <th>No.</th>
        <th>Name </th>
        <th>Date </th>
        <th>Time </th>
        <th>Allocated Block </th>
        <th>Request to Change </th>
    </tr>
    {% for i in data %}
    <tr>
        {% with idx=forloop.counter %}
        <td>{{idx}}</td>
        <td>{{i.2}}</td>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.3}}</td>
        <td><a href="{% url 'change_req' data=i %}" ><button type="submit" title="wait for admin." class="change-btn" id="{{idx}}{{i.2}}" onclick="change(this)">Change</button></a></td>
        {% endwith %}
    </tr>
    {% endfor %}
</table>
{% endblock %}