{% extends 'main/base.html'%}
{% load static %}

{%block title %} Register {% endblock %}
{%block content%}

<div class="signup">
    <div class="container">
        <div class="signup-content">
            <form action="{% url 'register' %}" method="POST">
                <h2>
                <div class="three">
                    <h1>ADD Your Staff.😀</h1>
                </div>
                </h2>
                {% csrf_token %}
                <!-- {{form.last_name}} -->
                <div class="form-group">
                    <label for="{{form.username.id_for_label}}">Email:</label>
                    <input type="text" name="{{form.username.name}}" class="form-control"
                        value="{{form.username.value}}">
                    <span class="text-danger">{{form.username.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.email.id_for_label}}">Confrim email@:</label>
                    <input type="text" name="{{form.email.name}}" class="form-control" value="{{form.email.value}}">
                    <span class="text-danger">{{form.email.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.first_name.id_for_label}}">Full Name:</label>
                    <input type="text" name="{{form.first_name.name}}" class="form-control"
                        value="{{form.first_name.value}}">
                    <span class="text-danger">{{form.first_name.errors}}</span>
                </div>

                <div class="form-group">
                    <div name="" class="form-control" id="">
                    <label for="{{ form.last_name.label_tag }}"></label>
                        {{ form.last_name }}
                    </div>
                    <span class="text-danger">{{form.last_name.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.password1.id_for_label}}">Password:</label>
                    <input type="password" name="{{form.password1.name}}" class="form-control"
                        value="{{form.password1.value}}">
                    <span class="text-danger">{{form.password1.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.password2.id_for_label}}">Confrim Password:</label>
                    <input type="password" name="{{form.password2.name}}" class="form-control"
                        value="{{form.password2.value}}">
                    <span class="text-danger">{{form.password2.errors}}</span>
                </div>

                <input type="submit" class="btn btn-dark" value="Register">

            </form>

            <div class="signup-image">
                <figure>
                    <img src="{%static 'imgs/signup.jpg' %}" alt="sign up image" />
                </figure>
                <!-- <a href="{% url 'login'%}">I'm already a member.</a><br> --> 
            </div>
        </div>
    </div>
</div>
{% endblock %}