{% extends 'main/base.html'%}
{% load static %}

{%block title %} Register {% endblock %}
{%block content%}

{% if form.non_field_errors%}
<div class="alert alert-danger">
    {{form.non_field_errors.as_ul}}
</div>
{%endif%}

<style>
    .thirteen h1 {
        position: relative;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        margin: 15px 0px;

        white-space: nowrap;
        border: 2px solid #222;
        padding: 5px 11px 3px 11px;
    }

    .thirteen h1:before,
    .thirteen h1:after {
        background-color: #c50000;
        position: absolute;
        content: '';
        height: 7px;
        width: 7px;
        border-radius: 50%;
        bottom: 12px;
    }

    .thirteen h1:before {
        left: -20px;
    }

    .thirteen h1:after {
        right: -20px;
    }
</style>
<hr>
<div class="thirteen" style="display: flex; justify-content:center">
    <h1>ADD + Your Work Force</h1>
</div>
<hr>
<div class="signup">
    <div class="container">
        <div class="signup-content">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <!-- {{form.last_name}} -->
                <div class="form-group">
                    <label for="{{form.username.id_for_label}}">Email:</label>
                    <input type="text" name="{{form.username.name}}" class="form-control"
                        placeholder="Email@Address">
                    <span class="text-danger">{{form.username.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.email.id_for_label}}">Confrim email@:</label>
                    <input type="text" name="{{form.email.name}}" class="form-control" placeholder="Email@Address">
                    <span class="text-danger">{{form.email.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.first_name.id_for_label}}">Full Name:</label>
                    <input type="text" name="{{form.first_name.name}}" class="form-control"
                        placeholder="As Per College Registerd">
                    <span class="text-danger">{{form.first_name.errors}}</span>
                </div>

                <div class="form-group">
                    <div name="" class="form-control" id="">
                    <label for="{{ form.last_name.label_tag }}"></label>
                        {{ form.last_name }}
                    </div>
                    <span class="text-danger">{{form.last_name.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.password1.id_for_label}}">Password:</label>
                    <input type="password" name="{{form.password1.name}}" class="form-control"
                        value="{{form.password1.value}}">
                    <span class="text-danger">{{form.password1.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="{{form.password2.id_for_label}}">Confrim Password:</label>
                    <input type="password" name="{{form.password2.name}}" class="form-control"
                        value="{{form.password2.value}}">
                    <span class="text-danger">{{form.password2.errors}}</span>
                </div>

                <input type="submit" class="btn btn-dark" value="Register">

            </form>

            <div class="signup-image">
                <figure>
                    <img src="{%static 'imgs/signup.jpg' %}" alt="sign up image" />
                </figure>
                <!-- <a href="{% url 'login'%}">I'm already a member.</a><br> --> 
            </div>
        </div>
    </div>
</div>
{% endblock %}