body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    /* background-image: url('\\static\\imgs\\circle.png');
    background-repeat:no-repeat ;
    background-position: center; */
}
body::-webkit-scrollbar{
    width: 10px;    
}
body::-webkit-scrollbar-thumb{
    background-color: #09c247;
    border: 1px solid #ecf0f1;
    border-radius: 10px;
}
/* header {
    color: #3498db;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color:#3498db ;
    color: #fff;

}

.feature {
    text-align: center;
}

.feature img {
    width: 100px;
    height: 100px;
}

.feature h2 {
    margin: 10px 0;
}

.cta {
    text-align: center;
    background-color: #ecf0f1;
    padding: 50px 0;
}*/

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
} 

.container-index {
    padding: 50px;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    min-width: 60%;
    margin: 10px;
    min-height: fit-content;

}
.title {
    font-size: 48px;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 20px;
    margin-bottom: 50px;
}
.button-index {
    background-color: #ffcc00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.features {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    color: #ecf0f1;
}
.feature {
    flex: 1;
    margin: 0 10px;
    background-color: #1e90ff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.contact-button {
    background-color: #00aced;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.588);
    
}

footer {
    text-align: center;
}

